﻿@model LSLOL4.Models.Tag

@{
    ViewBag.Title = "Xóa";
}

<h2>Xóa</h2>

<h3>Bạn có thực sự muốn xóa?</h3>
<fieldset>
    <legend>Tag</legend>

    <div><b>Tiêu Đề</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <button><input type="submit" value="Xóa" /> |</button>
        @Html.ActionLink("Quay về", "Index")
    </p>
}
