﻿@model LSLOL4.Models.Tag

@{
    ViewBag.Title = "Xem nội dung";
}

<h2>Xem Nội Dung</h2>

<fieldset>
    <legend>Tag</legend>

    <div><b>TiêudĐề</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
<p>
    <b>
        @Html.ActionLink("Sửa", "Edit", new { id=Model.ID }) |
        @Html.ActionLink("Quay về", "Index")
    </b>
</p>
