﻿@model LSLOL4.Models.Tag

@{
    ViewBag.Title = "Sửa";
}

<h2>Sửa</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tag</legend>

        @Html.HiddenFor(model => model.ID)

        <div><b>Tiêu Đề</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <p>
            <b> <input type="submit" value="Lưu" /></b>
        </p>
    </fieldset>
}

<div>
    <b>@Html.ActionLink("Quay về", "Index")</b>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
