﻿@{
    ViewBag.Title = "Lịch sử tướng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b><center>Lịch Sử Các Tướng Trong Liên Minh Huyền Thoại</center></b></h2>

<img src="~/Images/01-89552.jpg" />
<div>
    <b> Aatrox</b> là một chiến binh huyền thoại, một trong năm người cuối còn lại của một tộc người cổ xưa được biết đến với cái tên Darkin. Với lưỡi kiếm to bản trong tay, hắn ta có thể chém nát cả những quân đoàn hùng mạnh bằng một cách mà vẫn giữ được phong thái mê hoặc. Mỗi khi kẻ thù nằm xuống, thanh gươm dường như có tri giác của Aatrox uống máu chúng, tăng cường sức mạnh cho hắn và duy trình hành trình tàn sát hung bạo nhưng vẫn thanh thoát của hắn.
    <div><img src="~/Images/Aatrox.png" /></div>
</div>
<div>
    Không như những con hồ li khác cư ngụ trong các khu rừng phía nam Ionia, <b>Ahri</b> vẫn luôn cảm nhận được một mối liên kết lạ kì với thế giới ma thuật quanh cô; một mối liên kết dường như chưa hoàn thiện. Sâu thẳm bên trong, cô cho rằng hình hài hiện tại của mình hoàn toàn là một sai lầm của tạo hóa, và cô không bao giờ dừng ước mơ về một mai kia được trở thành một con người. Khát khao đó dường như chẳng bao giờ có thể trở thành hiện thực, cho đến một ngày kia cô vô tình gặp phải một cuộc chiến của loài người. Một cảnh tượng thật khủng khiếp, khắp nơi đều tràn ngập hình ảnh của những người chết hoặc trọng thương. Cô cảm thấy bị cuốn hút bởi một người - gã đàn ông mặc áo choàng đang hấp hối trong một trường ma thuật. Cô tiến lại gần và lập tức một thứ gì đó bên trong Ahri được kích hoạt, vươn tới người đàn ông theo một phương thức mà cô không tài nào hiểu nổi. Sự sống của ông ta trút dần sang người cô qua những liên kết phép thuật vô hình. Một cảm giác bao trùm và say đắm. Rồi khi cảm giác đó qua đi, cô mừng rỡ xiết bao khi nhận thấy mình đã thay đổi. Bộ lông trắng mượt của cô đã biến mất, cơ thể Ahri giờ mang dáng dấp của những thi thể đang nằm rải rác quanh đó.
    <div><img src="~/Images/Ahri.png" /></div>
    <div>
        <b>Darius</b>, chiến binh già dặn và đáng sợ nhất của Noxus, là một biểu tượng độc tôn của quốc gia này về sức mạnh vô song. Là một cô nhi, cả thuở thiếu thời Darius đã phải vật lộn với cuộc sống hàng ngày để có thể bảo vệ cả bản thân mình lẫn người em trai. Khi mới gia nhập quân đội, hắn đã có sức mạnh và kỉ luật của một binh sĩ kì cựu. Thử thách thực sự đầu tiên dành cho quyết tâm của Darius đã xảy ra vào một trận chiến sống còn với Demacia. Lúc bấy giờ thì quân đội Noxus đang kiệt sức cùng cực còn đối phương thì vượt trội về quân số. Chỉ huy của Darius ra lệnh rút lui, nhưng Darius đã từ chối nghe theo quyết định hèn nhát đó. Rời khỏi đội hình, Darius lao tới vung cây rìu khổng lồ của mình và chỉ trong chớp mắt, viên chỉ huy đã trở thành một cái xác không hồn. Vừa khiếp hãi nhưng cũng vừa nhận một cú hích tinh thần, những chiến binh còn lại lao theo Darius tả xung hữu đột trong đội hình của đối phương với một sức mạnh cực kì đáng sợ. Và cuối cùng, sau trận chiến dài tưởng như vô tận đó, họ đã giành được chiến thắng.
        <div><img src="~/Images/Darius.jpg" /></div>
    </div>
    <div>
        <b>Corki</b> là một trong những người nổi danh nhất của Yipsnake Gầm Rú nhờ sự điềm tĩnh và can trường đến mức điên rồ. Trước khi gia nhập Liên Minh, hắn đã thực hiện nhiều phi vụ, chủ yếu là các nhiệm vụ tình nguyện yêu cầu xông pha trong lòng địch thu thập tin tình báo hoặc truyền tin tại các điểm nóng. Hắn không sợ nguy hiểm, mà còn tận hưởng chúng. Không chỉ là một phi công hiển hách, Corki còn tinh chỉnh máy bay của mình, thêm thắt các vũ khí mà nhiều người đoán rằng chỉ để cho đẹp chứ không có tác dụng gì. Khi chiến sự tạm lắng, chủ yếu do các hiệp ước tạo nên quanh sự hình thành Liên Minh, Corki buộc phải về hưu, hắn cảm thấy như ''bị tháo máy và cắt đi đôi cánh''. Hắn cố thực hiện các trò điên rồ trên không, nhưng cảm giác chẳng thể nào được như trước, lúc mà mùi thuốc súng luôn nồng nàn quanh hắn. Khi Heimerdinger gia nhập Liên Minh Huyền Thoại, chẳng ai ngạc nhiên khi thấy Corki tham gia ngay sau đó, háo hức chờ đợi được đối đầu với những kẻ hùng mạnh nhất thế giới.
        <div><img src="~/Images/42-CorkiSquare.png" /></div>
    </div>
    <div>
        Có một thế giới xa xăm tồn tại những sinh vật được trời phú cho những đôi cánh mĩ miều cùng sự trường sinh, nơi những mâu thuẫn cổ đại vẫn còn gay gắt. Như đại đa số các xung đột khác, cuộc chiến này cũng chia cắt nhiều gia đình. Một bên tự nhận là thực thể của trật tự tuyệt đối và công lí, chiến đấu để nhất thống cả thế giới dưới luật lệ và chính quyền tập trung của họ. Phe đối lập cho rằng đối thủ chỉ là một lũ độc tài, những sinh vật không biết nhìn xa trông rộng, những kẻ hi sinh đặc tính cá nhân và sự tự do vì một ảo tưởng về tính hiệu quả và an toàn. <b>Morgana </b>là một kẻ đứng dậy chiến đấu chống lại chính những người họ hàng độc tài của mình, do đó cô bị gán biệt danh ''sa ngã.'' Morgana không hề ngây thơ, cô theo đuổi những cấm thuật để trở thành phù thủy hắc ám. Mục tiêu này được thôi thúc bởi khát khao muốn đánh bại thống đốc của đội quân đối phương - người chị em của cô, Kayle.
        <div><img src="~/Images/morgana.png" /></div>
    </div>
    <div>
        Thuở thiếu thời <b>Lee Sin</b> luôn luôn mong muốn được trở thành một anh hùng. Chẳng có mấy kẻ đồng trang lứa có thể so với anh về ý chí cũng như sự tận tụy, và rồi kỹ năng của anh đã thu hút được sự chú ý của Reginald Ashram, Bộ Trưởng Tối Cao của Liên Minh vào thời điểm đó. Trong thời gian theo học ở Mật viện Majoris, Lee Sin cảm thấy nản lòng với nhịp điệu nhàm chán dành cho học viên tại đây. Anh đành sử dụng quãng thời gian rảnh của mình để nghiên cứu các sắc thái nhiệm màu của thuật triệu hoán với hy vọng được tốt nghiệp sớm hơn. Rất nhanh, anh qua mặt những học viên khác khi tiến bộ vượt bậc trong các khóa học ma pháp. Lẽ ra anh đã có thể trở thành một trong những anh hùng vĩ đại nhất của Liên Minh, nếu không phải vì một sai lầm chết người. Quá nôn nóng vội vã, anh đã thử sử dụng kĩ năng của mình để triệu hồi một con quái thú từ Rừng Rậm Hiểm Họa. Nhưng điều mà anh triệu hồi được, lại là một cậu bé, và chẳng hề hoàn chỉnh. Anh thậm chí còn chẳng kịp nhìn vào thứ lẽ ra là khuôn mặt của cậu bé khi cả khối hỗn tạp đó rớt xuống sàn. Một cuộc điều tra của Liên Minh không lâu sau đó đã phát hiện được rằng, cả ngôi làng của cậu bé đã bị hủy diệt bởi dư âm của nghi thức triệu hồi.
        <div><img src="~/Images/LeeSin-1.png" /></div>
    </div>
    <div>
        Không giống như đại đa số những tướng trong Liên minh, <b>Lulu</b> là một kẻ chỉ thích làm theo ý mình. Trong suốt thuở ấu thơ của mình ở thành phố Bandle, cô bé lang thang một mình hết ngày này sang ngày khác trong các cánh rừng hoặc ngồi thẩn thờ mơ mơ mộng mộng. Nhưng đó không phải là do cô bé thuộc tuýp người xa lánh xã hội, chỉ là sự nhộn nhịp của thành phố Bandle cũng chẳng thể nào so sánh nổi với sự sặc sỡ của thế giới trong trí tưởng tượng của cô. Cô nhìn thấy những điều kì diệu ở những nơi mọi người thường hay bỏ qua. Và chính điều đó đã khiến cô gặp được Pix, một tinh linh, đang giả vờ mắc kẹt trong một cái lồng chim. Trí tưởng tượng của Lulu đã khơi dậy sự hứng thú trong Pix, và nó liền chớp lấy thời cơ dẫn dụ cô vào thế giới của nó. Pix dẫn cô đến với Mảng Rừng Thưa, quê nhà của những tinh linh. Ở nơi đấy những đặc tính cố định của thế giới bên ngoài – những thứ như kích cỡ và màu sắc – thay đổi còn nhanh hơn cơn gió thoảng. Lulu cảm thấy như mình đang ở nhà tại Mảng Rừng Thưa, và cô quyết định ở lại cùng Pix, bị cuốn hút bởi nơi bí mật này.
        <div><img src="~/Images/Lulu.png" /></div>
    </div>
    <div>
        Những thứ năng lượng ma quái được phóng thích bởi các pháp sư từ các Chiến Tranh Cổ Ngữ đã gây nên vô số tác hại khủng khiếp với thiên nhiên. Liên Minh được thiết lập ra để giới hạn việc sử dụng phép thuật chỉ trong Chiến Trường Công Lí. Bằng cách giữ việc sử dụng trong khu vực này, họ nghĩ rằng thiên nhiên sẽ chẳng còn bị tàn phá nữa. Có vẻ như họ đã thành công, cho đến khi Maokai xuất hiện. Trong một cuộc chiến của Liên Minh ở Khu Rừng Quỉ Dị, Maokai, một cây sồi già cổ xưa bỗng gầm lên những tiếng thét của sự sống. Bị phá vỡ sự cân bằng do các dòng chảy năng lượng, ý thức của nó được tạo nên trong sự hỗn loạn. Trước khi các thẩm phán của Liên Minh kịp xuất hiện để kiềm chế, nó đã tàn sát sáu vị tướng tham gia cuộc chiến. Những học giả của Mật Viện Majoris cảm thấy hứng thú với sinh vật này, đặc biệt là nguyên nhân sự trỗi dậy của nó.

        Maokai thì không, nó cảm thấy cực kì giận dữ. Nó căm ghét sự trỗi dậy này của chính mình; cảm thấy điều đó như một sự băng hoại của tự nhiên. Nó phải học cách giao tiếp với loài người để tìm cách trở về như trước kia, bản thể của nó. Chớp lấy cơ hội, Liên Minh đề nghị một vụ đổi chác. Họ sẽ nghiên cứu tìm ra cách biến chuyển nó trở lại như cũ đổi lấy sự phục vụ của nó cho Liên Minh Huyền Thoại. <b>Maokai</b> không quan tâm đến Liên Minh cho lắm, nó chỉ muốn trừng phạt những kẻ sử dụng phép thuật một cách vô tội vạ. Nó đồng ý với một điều kiện: khi họ tìm ra cách biến nó trở về như cũ, chớ có biến đổi một cái cây nào nữa. Để tách biệt ra khỏi những cây khác ở Chiến Trường Công Lí, nó treo trên mình một chiếc lồng đèn, cũng như một lời cảnh báo cho những loài thú muốn giỡn mặt với nó.
        <div><img src="~/Images/Maokai.png" /></div>
    </div>
    <div>
        Mặc dù trái tim cô kề vai sát cánh cùng đồng đội, lời kêu gọi của Liên Minh Huyền Thoại vẫn khó có thể cưỡng lại và giờ đây <b>Tristana</b> bảo vệ thành phố Bandle với tư cách của một vị tướng. Trong khi cô luôn tập trung cao độ khi là Tay Súng Megling, cuộc sống riêng tư của Tristana lại khá khác biệt. Bên ngoài Chiến Trường Công Lí, cô rất thân thiện và hòa đồng - mẫu yordle mà ai cũng muốn kết bạn. Gần đây Tristana vừa mới kết thân với Teemo – Trinh Sát Nhanh Nhẹn. Cả hai đều đến từ Lực Lượng Đặc Nhiệm của thành phố Bandle, thế cho nên mối liên kết đó không chỉ đơn giản là đồng tộc, mà còn là những chiến sĩ và là những vị tướng đồng hương... dẫu rằng cô thẳng thừng từ chối bất cứ câu hỏi nào liên quan đến việc liệu mối quan hệ giữa họ có tiến xa hơn hay không.

        ''Nếu có một người tôi tin tưởng để cùng thực hiện một nhiệm vụ khó, đó là Tristana - luôn là vậy!''
        <div><img src="~/Images/Tristana.png" /></div>
    </div>
    <div>
        <b>Yasuo</b> là một người đàn ông đầy quyết tâm, một kiếm khách nhanh nhẹn biết cách vận dụng gió để trảm sát kẻ thù. Trớ trêu thay, chàng dũng sĩ kiêu hãnh này đã bị vu cáo khiến anh ta không chỉ mất đi toàn bộ thanh danh, mà còn phải vất vả bỏ trốn khỏi những cuộc truy sát. Khi cả thế giới đã quay lưng lại với mình, anh buộc phải làm mọi cách để có thể lấy lại danh dự của mình, cũng như lôi kẻ thủ ác thật sự ra trước ánh sáng công lí.

        Đã từng là một môn sinh tài năng tại trường Kiếm Thuật Ionia trứ danh, Yasuo là người duy nhất của cả trang lứa môn sinh có thể luyện thành công phong tuyệt kĩ trong truyền thuyết. Nhiều người tin chắc rắng định mệnh của anh ta là trở thành một anh hùng vĩ đại. Nhưng, mọi chuyện đã hoàn toàn thay đổi khi quân Noxus kéo tới xâm lăng. Yasuo được giao phó sứ mệnh bảo vệ Trưởng lão Ionia, và rồi, sự tự tin ngu muội rằng chỉ mỗi thanh kiếm của anh là quá đủ để tạo nên sự khác biệt, đã khiến anh rời bỏ vị trí để tham gia cuộc chiến. Đến khi anh trở lại, thì Trưởng lão đã trở thành một cái xác không hồn.
        <div><img src="~/Images/Yasuo.png" /></div>
    </div>
    <div>
        <b>Zed</b> là ninja đầu tiên trong vòng 200 năm có thể giải mã những cấm thuật cổ xưa. Hắn chống lại tổ chức và sư phụ của mình, phá vỡ sự cân bằng và giới luật đã kiềm giữ hắn cả cuộc đời. Giờ đây, Zed hứa hẹn quyền lực cho những kẻ nào tiếp nhận kiến thức của những chiếc bóng, và dĩ nhiên là kèm cả hạ sát những ai chối từ mình.

        Là một đứa trẻ mồ côi, Zed được thu nạp và huấn luyện bởi một ninja bậc thầy. Trong đám môn đồ của ông, duy chỉ có một học trò khác được xem là tài năng ngang ngửa với Zed - chính là con trai của vị sư phụ, Shen. Có vẻ như Zed không bao giờ có được sự ưu ái của thầy mình khi mà mọi trận đấu giữa hắn và Shen luôn có kết quả hòa. Bực bội và ghen tức, Zed tìm kiếm một lợi thế cho mình. Gã ninja trẻ tiến vào khu vực bị niêm phong của ngôi đền thiêng, nơi hắn tìm thấy một chiếc hộp được chạm trổ cầu kì. Cảm nhận được sức mạnh đen tối bên trong, Zed biết mình không nên mở ra, nhưng hắn không kìm được tò mò mà vẫn hé nhìn vào. Ngay lập tức, những chiếc bóng đen ma quái chạm vào tâm trí hắn, khai sáng những tuyệt kĩ thất truyền từ lâu. Giờ đây, khi đã có trong tay một lợi thế bí mật, hắn khiêu chiến Shen. Lần này, Zed đã giành được phần thắng trước con trai của sư phụ mình. Hắn thèm khát những lời ngợi khen trong khoảnh khắc chiến thằng này nhưng bằng cách nào đó, vị sư phụ biết Zed đã dùng cấm thuật, rồi khai trừ hắn ngay lập tức.
        <div><img src="~/Images/Zed.png" /></div>
    </div>

   <div>
       Để biết thêm thông tin chi tiết của các tướng khác: <a href="http://lienminh.garena.vn/game-info/champions" title="Các Tướng Khác">Các Tướng Khác</a>
   </div>
