﻿@{
    ViewBag.Title = "LSLMHT";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article style="color:red;border:0.5px solid #da05fb">
    <p>
        Để tải game Liên Minh Huyền Thoại bạn vui lòng nhấp vào đường link dưới đây hoặc cập nhật phiên bản mới.
    </p>
    <p><b>Tải bản đầy đủ mới nhất - phiên bản 4.20</b></p>
    <p>
        <a href="http://cdn.garena.vn/gamevn/lmht/LienMinhHuyenThoai.1124.rar" title="Tải bản đầy đủ tại đây">Tải Game</a>
    </p>

    <p>
        <b>Tải bản cập nhật - phiên bản 4.20</b>
    </p>
    <p>
        <a href="http://cdn.garena.vn/gamevn/lmht/patcher/VN_141118to141125.exe" title="Tải bản cập nhật tại đây">Tải bản cập nhật</a>
    </p>
</article>

<aside>
    <h3>Lịch Sử Liên Minh Huyền Thoại</h3>
    <p>
        Tải Game Liên Minh Huyền Thoại.
    </p>
    @*<ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>*@
</aside>