﻿@{
    ViewBag.Title = "LSLOL";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>HotLine</h3>
    </header>
    <p>
        <span class="label">Điện Thoại Bàn:</span>
        <span>0603865467</span>
    </p>
    <p>
        <span class="label">Điện Thoại Di Động:</span>
        <span>01684696966</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="nguyenminhtienkt@gmail.com">nguyenminhtienkt@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">nguyenminhtienkt0001@gmail.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">nguyenminhtienkt0003@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        236C Phan Đình Phùng, Kon Tum, TP.Kon Tum
    </p>
</section>