﻿@{
    ViewBag.Title = "LSLMHT";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Hiện nay có rất nhiều web tin tức game ra đời như Vua Hải Tặc, Phong Vân,...và Liên Minh Huyền Thoại cũng là một trong số đó. Lịch sử của Liên Minh dài vô tận để biết thêm chi tiết  các bạn có thể truy cập vào website
                <a href="http://lslmht.com" title="LOL.com  Website">http://lslmht.com</a>.
                Website này giúp các bạn nắm bắt rõ về thông tin cũng như lịch sử tướng đồng thời các vùng đất trong liên minh huyền thoại để biết được cuộc đời xa xưa của các tướng.
                
            </p>
        </div>
    </section>
}
<h3><center>Các Vùng Đất Trong Liên Minh Huyền Thoại</center></h3>
<div>
    “Danh dự, niềm kiêu hãnh và sự phục hận – tất cả mọi lý do để một vị tướng chiến đấu cho Liên Minh Huyền Thoại.” – Lee Sin,
    Tính đến thời điểm hiện tại, đã có 118 vị tướng tham gia chiến đấu cho Liên Minh Huyền Thoại, với sự xuất hiện mới nhất của Vel’Koz. Mỗi vị tướng đến từ những nơi khác nhau, và chiến đấu cho Liên Minh Huyền Thoại cũng bởi nhiều lý do không hề giống ai. Có người chiến đấu vì quê hương tổ quốc, có người lại vì lý do cá nhân, cũng có người phải chiến đấu bởi sự trừng phạt của Liên Minh.
    Chúng ta sẽ cùng tìm hiểu về gốc gác các vị tướng đến từ 4 thành bang trên thế giới Runeterra, đó là Demacia, Ionia, Noxus, và thành phố Bandle.
</div>


<img src="~/Images/50890651.jpg" />
<div>
    <b>Xem Chi Tiết Các Giải Đấu Gần đây: </b> <a href="vetv.vn" title="Giải Đấu">Giải Đấu</a>
</div>