﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Lịch sử liên minh</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p class="site-title">
                            <img src="~/Images/logo_lmht.png" />
                        </p>
                    </div>           
                    <div class="float-right">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                        <nav>
                            <ul id="menu">
                                <b>
                                    <big>
                                        <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Lịch Sử LMHT", "Index", "Post")</li>
                                        <li>@Html.ActionLink("Lịch Sử Tướng", "_addTuong", "Home")</li>
                                        <li>@Html.ActionLink("Tải Game LMHT", "About", "Home")</li>
                                        <li>@Html.ActionLink("Liên Hệ", "Contact", "Home")</li>
                                    </big>
                                </b>
                            </ul>
                        </nav>
                    </div>
                </div>
</header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>Mọi chi tiết xin liên hiệ qua địa chỉ 236C Phan Đình Phùng, Kon Tum, TP.Kon Tum <br><b>HotLine:</b> 01684696966</br> </p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
