﻿@model Blog_5.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend><h2>Tag</h2></legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>

<fieldset>
    <legend><h2>Post</h2></legend>
    @foreach(var post in Model.Posts)
    {
        <div class="display-field">
            @Html.RouteLink(post.Title, new { Controller = "Post", Action = "Details",id=post.ID })
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TagID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
