﻿@model LSLOL4.Models.Comment

@{
    ViewBag.Title = "Xóa";
}

<h2>Xóa</h2>

<h3>Bạn có thực sự muốn xóa?</h3>
<fieldset>
    <legend>Comment</legend>

    <<div><b>Nội Dung</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div><b>Ngày Comment</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommentCreated)
    </div>

    <div><b>Tiêu Đề</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Post.Title)
    </div>

    <div><b>UserName</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <button><input type="submit" value="Xóa" /> |</button>
        @Html.ActionLink("Quay về", "Index")
    </p>
}
