﻿@model LSLOL4.Models.Comment

@{
    ViewBag.Title = "Xem nội dung";
}

<h2>Xem Nội Dung</h2>

<fieldset>
    <legend>Comment</legend>

    <<div><b>Nội Dung</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div><b>Ngày tạo</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommentCreated)
    </div>

    <div><b>Tiêu Đề</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Post.Title)
    </div>

    <div><b>UserName</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Quay về", "Index")
</p>
