﻿@model LSLOL4.Models.Comment

@{
    ViewBag.Title = "Sửa";
}

<h2>Sửa Bình Luận</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>

        @Html.HiddenFor(model => model.ID)

        <div><b>Nội Dung</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div><b>Ngày Tạo</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommentCreated)
            @Html.ValidationMessageFor(model => model.CommentCreated)
        </div>

        <div><b>IDPost</b></div>
        <div class="editor-field">
            @Html.DropDownList("PostID", String.Empty)
            @Html.ValidationMessageFor(model => model.PostID)
        </div>

        <div><b>UserName</b></div>
        <div class="editor-field">
            @Html.DropDownList("UserProfileUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserProfileUserId)
        </div>

        <p>
            <input type="submit" value="Lưu" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay về", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
