﻿@model LSLOL4.Models.Post

@{
    ViewBag.Title = "Tạo bài viết mới";
}

<h2><big> Tạo Bài Viết Mới</big></h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        
           <div> <b>Tiêu Đề</b> </div>
        
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
       
        
            <div><b>Nội Dung</b></div>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.PostCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostCreated)
            @Html.ValidationMessageFor(model => model.PostCreated)
        </div>*@
        
            <div><b>UserName</b></div>
        
        <div class="editor-field">
             @Html.DropDownList("UserProfileUserId", String.Empty)
             @Html.ValidationMessageFor(model => model.UserProfileUserId)
        </div>
        
            
        <div><b>Mục</b></div>
       
       <div class="editor-field">
             @Html.DropDownList("TagID", String.Empty)
             @Html.ValidationMessageFor(model => model.TagID)
       </div>

       <p>
            <input type="submit" value="Tạo mới" />
       </p>
</fieldset>
}

<div>
    @Html.ActionLink("Quay về", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
