﻿@model LSLOL4.Models.Post

@{
    ViewBag.Title = "Xóa";
}

<h2>Xóa Bài Viết</h2>

<h3><big>Bạn có thực sự muốn xóa?</big></h3>
<fieldset>
    <legend>Post</legend>

    <div><big>Tiêu Đề</big></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div><big>Nội Dung</big></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.PostCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostCreated)
    </div>*@

    <div><b>UserName</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div><b>Mục</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tag.Title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <b><input type="submit" value="Xóa" /> |
        @Html.ActionLink("Quay về", "Index")</b>
    </p>
}
