﻿@model LSLOL4.Models.Post

@{
    ViewBag.Title = "Xem bài viết";
}

<h2><big>Xem Bài Viết</big></h2>

<fieldset>
    <legend>Post</legend>

    <div><b>Tiêu Đề</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div><b>Nội Dung</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div><b>Ngày Tạo</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostCreated)
    </div>

    <div><b>UserName</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Tag.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tag.Title)
    </div>*@
</fieldset>
@Html.Partial("Partial1", new LSLOL4.Models.Comment() , ViewData)
<fieldset>
    <legend><button>Góc Bình Luận</button></legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.CommentCreated).Take(20))
    {
        <div class="display-field">
            <p><i> <b>@Html.DisplayFor(x => comment.UserProfile.UserName):</b> @Html.DisplayFor(m => comment.Body) </i></p>
        </div>
        
    }
</fieldset>
<p>
    <b>@Html.ActionLink("Sửa Bài Viết", "Edit", new { id=Model.PostID }) |
    @Html.ActionLink("Quay về", "Index")</b>
</p>
