﻿@model IEnumerable<LSLOL4.Models.Post>

@{
    ViewBag.Title = "Trang Chủ";
}

<h2><center>Lịch Sử Liên Minh Huyền Thoại</center></h2>

<p>
   <button> @Html.ActionLink("Tạo Bài Viết Mới", "Create")</button>
</p>
<table>
    <tr>
        <th>
          @*<a> @Html.DisplayNameFor(model => model.Title)</a>*@
             Tiêu Đề
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Body)
        </th>*@
        <th>
            Ngày Đăng
        </th>
        <th>
            Người Đăng
        </th>
        <th>
           Mục
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          <a>@Html.ActionLink(item.Title, "Details", new { id=item.PostID})</a>
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.PostCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag.Title)
        </td>
        <td>
            @Html.ActionLink("Sửa ", "Edit", new { id=item.PostID }) |
            @*@Html.ActionLink("Xem nội dung", "Details", new { id=item.PostID }) |*@
            @Html.ActionLink("Xóa", "Delete", new { id=item.PostID })
        </td>
    </tr>
}

</table>
<p>
    <button> @Html.ActionLink("Tạo Bài Viết Mới", "Create")</button> 
</p>