﻿@model LSLOL4.Models.Comment

@using (Html.BeginForm("Create", "Comment", new { idpost=ViewData["idpost"]}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>*@
        <div>
            <b>Nội Dung</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.CommentCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommentCreated)
            @Html.ValidationMessageFor(model => model.CommentCreated)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.PostID, "Post")
        </div>*@
        @*<div class="editor-field">
            @Html.DropDownList("PostID", String.Empty)
            @Html.ValidationMessageFor(model => model.PostID)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.UserProfileUserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserProfileUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserProfileUserId)
        </div>*@

        <p>
            <input type="submit" value="Bình Luận" />
        </p>
    </fieldset>
}