﻿@model Blog_5.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

     <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>

@Html.Partial("_addComment",new Blog_5.Models.Comment(), ViewData);

<fieldset>
    <legend><h2>Comment</h2></legend>
    <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x=>x.DateCreated).Take(10))
        {
            <div class="display-field">
                 <h2>Cách đây: @Html.DisplayFor(x => comment.LastTime) Phút </h2>
            </div>
        
            <div class="display-field">
                Tên: @Html.DisplayFor(x => comment.Author)
            </div>
        
            <div class="display-field">
                 @Html.DisplayFor(x => comment.Body)
            </div>
        }
    </div>
</fieldset>

<fieldset>
    <legend> <h2>Tag</h2> </legend>
    @foreach (var tag in Model.Tags)
    {
        <div class="display-field">
            @Html.RouteLink(tag.Content, new { Controller = "Tag", Action = "Details",id=tag.TagID })       
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
